[user]
	email = sawan1210@gmail.com
	name = Sawan Srivastava
	signingkey = DE289D85

[http]
	postBuffer = 57286400
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgsign = true

[core]
	compression = 9
	preloadindex = true

[url "git@github.com:"]
	insteadof = "gh:"

[status]
	branch = true
	stash = true

